*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(101, 153, 233);
    background-image:url(../img/pattern.png);
    background-size: contain;
    background-repeat: space;    
}

.logo{
    width: 150px;
    padding-top: 20px;
    background-position: left;
    padding-left: 30px;
}
.contenitore{
    width: 1300px;
    margin-left: 30px;
    
}

#titolo-principale{
    padding-top: 10px;
}

h5, h6{
    color: gray;
}

#autore{
    color: rgb(96, 176, 250);
}
.primo-paragrafo{
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
}
.evidenziato{
    background-color: rgba(255, 255, 0, 0.795);
}
.lista{
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}